<!DOCTYPE html>
<html>
<head>
    <title>Forecasting Bank Campaign</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <h1>Forecasting Bank Campaign</h1>
    <form action="/predict" method="post">
        <!-- Age -->
        <div class="input-group mb-3">
        <label for="age">Enter the age:</label>
            <input type="number" class="form-control" id="age" value="age" name="age" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <!-- job -->
        <label for="job">Enter job:</label>
        <select class="form-select" id="job" name="job" aria-label="Default select example">
            <option selected>Choose a job:</option>
            <option value="0">admin</option>
            <option value="1">blue-collar</option>
            <option value="2">entrepreneur</option>
            <option value="3">house-maid</option>
            <option value="4">management</option>
            <option value="5">retired</option>
            <option value="6">self-employed</option>
            <option value="7">services</option>
            <option value="8">student</option>
            <option value="9">technician</option>
            <option value="10">unemployed</option>
            <option value="11">unknown</option>
          </select>
        
        <!-- marital status -->
        <label for="marital">Enter marital status:</label>
        <select id="marital" class="form-select" name="marital" aria-label="Default select example" required>
            <option value="0">divorced</option>
            <option value="1">married</option>
            <option value="2">single</option>
        </select><br><br>
        <!-- education -->
        <label for="education">Enter education status:</label>
        <select id="education" class="form-select" name="education" aria-label="Default select example" required>
            <option value="0">primary</option>
            <option value="1">secondary</option>
            <option value="2">tertiary</option>
            <option value="3">unknown</option>
        </select><br><br>
        <!-- default -->
        <label for="default">Enter default status:</label>
        <select id="default" class="form-select" name="default" aria-label="Default select example" required>
            <option value="0">no</option>
            <option value="1">yes</option>
        </select><br><br>
        <!-- balance -->
        <div class="input-group mb-3">
        <label for="balance">Enter balance:</label>
            <input type="number" id="balance" value="balance" name="balance" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          
        <!-- housing -->
        <label for="house">Enter housing details:</label>
        <select id="house" class="form-select" name="house" aria-label="Default select example" required>
            <option value="0">no</option>
            <option value="1">yes</option>
        </select><br><br>
        <!-- loan -->
        <label for="loan">Enter loan details:</label>
        <select id="loan" class="form-select" name="loan" aria-label="Default select example" required>
            <option value="0">no</option>
            <option value="1">yes</option>
        </select><br><br>
        <!-- contact -->
        <label for="contact">Enter contact details:</label>
        <select id="contact" class="form-select"name="contact" aria-label="Default select example" required>
            <option value="0">cellular</option>
            <option value="1">telephone</option>
            <option value="2">unknown</option>
        </select><br><br>
        <!-- day -->
        <div class="input-group mb-3">
                <label for="day">number of days:</label>
                <input type="number" class="form-control"  id="day" value="day" name="day" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <!-- month -->
        <label for="month">Enter the month:</label>
        <select id="month"class="form-select"  name="month" aria-label="Default select example" required>
            <option value="0">january</option>
            <option value="1">february</option>
            <option value="2">march</option>
            <option value="3">april</option>
            <option value="4">may</option>
            <option value="5">june</option>
            <option value="6">july</option>
            <option value="7">august</option>
            <option value="8">september</option>
            <option value="9">october</option>
            <option value="10">november</option>
            <option value="11">december</option>
        </select><br><br>
        <!-- duration -->
        <div class="input-group mb-3">
        <label for="duration">Enter the duration of the campaign:</label>
    <input type="number" class="form-control" id="duration" value="duration" name="duration" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
        <!-- campaign -->
        <div class="input-group mb-3">
        <label for="campaign">Enter the campaign value:</label>
            <input type="number" id="campaign" value="campaign" name="campaign" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          
        <!-- pdays -->
        <div class="input-group mb-3">
        <label for="pdays">Enter the no of pdays:</label>
            <input  type="number" id="pdays" value="pdays" name="pdays" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <!-- previous -->
        <label for="previous">Enter the previous value:</label>
        <div class="input-group mb-3">
            <input  type="number" id="previous" value="previous" name="previous" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        <!-- poutcome -->
        <label for="poutcome">Choose the poutcome:</label>
        <select id="poutcome" class="form-select" name="poutcome" aria-label="Default select example" required>
            <option value="0">failure</option>
            <option value="1">other</option>
            <option value="2">success</option>
            <option value="3">unknown</option>
            <!-- Add more options for other status values -->
        </select><br><br>
        
        <input type="submit" value="Predict">
    </form>

    <h1>Forecast of campaign using the given data:</h1>
    <p>predicted value: {{predicted_result}}</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>